@font-face {
  font-family: "Porter Sans Block";
  src: url("PorterSansBlock.woff2") format("woff2"),
    url("PorterSansBlock.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Porter Sans Block";
  src: url("PorterSansBlock.woff2") format("woff2"),
    url("PorterSansBlock.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Porter Sans Block";
  src: url("PorterSansBlock.woff2") format("woff2"),
    url("PorterSansBlock.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Porter Sans Block";
  src: url("PorterSansBlock.woff2") format("woff2"),
    url("PorterSansBlock.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
